html {
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* -------------------- */
/* Header */

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 200;
  background-color: #fff;
  border-bottom: 1px solid #e2e2e2;
  height: 48px;
  padding: 6px 15px 6px 15px;
  display: grid;
  grid-template-columns: auto auto auto 1fr auto auto;
  grid-gap: 10px;
  align-items: center;
  font-weight: 700;
}

.borderless {
  padding: 8px 9px 9px;
  background-color: #fff;
  color: #333;
  font-size: 18px;
  line-height: 18px;
  border: 0;
}

header span {
  font-size: 14.25px;
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  text-transform: uppercase;
}

.nyt {
  height: 26px;
  justify-self: center;
}

.util-btn {
  border-radius: 3px;
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  background-color: #567b95;
  border: 1px solid #326891;
  color: #fff;
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
  font-weight: 700;
  height: 100%;
}
/* -------------------- */
/* Article */

article {
  padding-top: 80px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

article > * {
  grid-column: 2 / -2;
}

article h1 {
  color: #121212;
  font-family: "Domine", cheltenham, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  font-size: 2rem;
  line-height: 2.25rem;
  margin: 0 20px 1rem;
  font-weight: 700;
}

/* Photo */

.photo {
  grid-column: 1 / -1;
  max-width: 1200px;
  margin: 0;
  padding: 0;
  justify-self: center;
}

img {
  width: 100%;
  margin: 0;
  padding: 0;
}

figcaption span {
  margin-right: 7px;
  color: #666;
  font-family: imperial,georgia,'times new roman',times,serif;
  font-size: 0.875rem;
  line-height: 1.125rem;
}

.fig-credit {
  color: #888;
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
  line-height: 1.125rem;
  letter-spacing: 0.01em;
  font-size: 0.75rem;
}

/* Article Info */

.article-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-top: 40px;
}

.author {
  font-weight: bold;
  font-size: 0.9rem;
  grid-column: 1 / -1;
}

.date {
  color: #888;
  font-size: 0.8rem;
}

.socials {
  justify-self: end;
}

.social-round {
  background-color: #eee;
  border: 1px #eee solid;
  border-radius: 100%;
  padding: 5px;
  width: 30px;
  height: 30px;
}

.socials button {
  background-color: rgb(255, 255, 255);
  border: none;
}

/* Sections */

article p {
  margin-bottom: 0.78125rem;
  margin-top: 0;
  font-family: georgia,'times new roman',times,serif;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

a {
  color: #326891;
}

/* Unlock */

.unlock {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.unlock-border {
  width: 72px;
  border-bottom: 1px solid rgb(204, 204, 204);
  margin: 18px auto 18px;
}

.unlock p {
  font-family: helvetica, arial, sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  margin: 0;
}

.unlock a {
  text-decoration: none;
}

/* Story */

.story {
  grid-column: 1 / -1;
  max-width: 75%;
  margin: 0;
  padding: 0;
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto repeat(4, 1fr) 100px;
}

.story h2 {
  grid-column: 1 / -1;
  font-size: 20px;
}

.story-info {
  grid-column: 1 / -1;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-family: nyt-cheltenham-sh,georgia,times new roman,times,serif;
  color: #666;
}

.inflation-img {
  grid-column: 1 / -1;
  grid-row: 3 / 7;
}

.storyexplanation {
  grid-row: span 1;
  grid-column: span 1;
  font-family: nyt-franklin,arial,helvetica,sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #000000;
  margin: 5px;
}

.g-sc {
  font-size: 11px;
  font-weight: bold;
  letter-spacing: .05em;
}

.expl1 {
  grid-column-start: 1;
  grid-row-start: 4;
}

.expl2 {
  grid-column-start: 2;
  grid-row-start: 4;
}

.expl3 {
  grid-column-start: 3;
  grid-row-start: 4;
}

.expl4 {
  grid-column-start: 4;
  grid-row-start: 4;
}

.expl5 {
  grid-column-start: 1;
  grid-row-start: 6;
}

.expl6 {
  grid-column-start: 2;
  grid-row-start: 6;
}

.expl7 {
  grid-column-start: 3;
  grid-row-start: 6;
}

.expl8 {
  grid-column-start: 4;
  grid-row-start: 6;
}

.story-author {
  grid-column: 1 / span 2;
  grid-row-start: 7;
  align-self: start;
  font-size: 14px;
  line-height: 1.125rem;
  font-weight: 300;
  font-style: normal;
  font-family: arial,helvetica,sans-serif;
}

/* Video */

.video-player {
  height: 400px;
}

.youtube-video {
	width: 100%;
	height: 80%;
}

.video-expl {
  margin-right: 7px;
  color: #666;
  font-family: imperial,georgia,'times new roman',times,serif;
  font-size: 0.875rem;
  line-height: 1.125rem;
}

/* -------------------- */

/* Footprint */

.footprint {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-top: 40px;
}

.version {
  grid-column: 1 / -1;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  width: 100%;
  max-width: 600px;
  color: rgb(102, 102, 102);
}

/* -------------------- */

/* Footer */

footer {
  margin-top: 50px;
  padding-top: 15px;
  padding-left: 15px;
  border-top: 2px solid rgb(102, 102, 102);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* grid-template-rows: 50px auto auto auto */
  grid-gap: 10px;
  justify-items: start;
}

footer .nyt {
  grid-column: 1 / span 2;
}

.list2 {
  grid-row-end: span 2;
}

.hp-link {
  grid-column-end: -1;
  color: rgb(86, 123, 149);
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 11px;
  text-decoration: none;
}

.language-list {
  grid-column: -2 / -1;
  grid-row: 3 / 4;
}

ul {
  color: rgb(0, 0, 0);
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  list-style: none;
  padding: 0;
}

lh {
  color: rgb(51, 51, 51);
  font-size: 13px;
  font-weight: 700;
  height: 25px;
  line-height: 15px;
  text-transform: uppercase;
}

li {
  margin: 0 8px 8px 0;
  width: 100%;
}

li svg {
  height: 13px;
  width: 13px;
  margin-right: 7px;
  vertical-align: middle;
}

.more-list {
  border-right: 1px solid rgb(102, 102, 102);
}

.sub-list {
  border-bottom: 1px solid rgb(102, 102, 102);
  padding-bottom: 10px;
}

.sub-list li {
  color: rgb(0, 0, 0);
  display: inline-block;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 700;
  height: 25px;
  line-height: 15px;
  padding-top: 10px;
  padding-left: 0;
}

.sublist li .small, .small {
  color: rgb(0, 0, 0);
  display: inline-block;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  text-transform: capitalize;
  font-size: 11px !important;
  font-weight: 500 !important;
  line-height: 21px;
}

.footer-list {
  width: 100%;
  border-top: 1px solid rgb(102, 102, 102);
  grid-column: 1 / -1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer-list ul {
  padding: 0;
  margin: 0;
}

.footer-list li {
  display: inline-block;
	font-size: 10px;
	color: grey;
	padding: 0 10px;
  cursor: pointer;
  flex: 1 1 80px;
  padding: 0;
  margin: 0;
}

.footer-list li.copyright {
  flex: 1 1 180px;
}